.light-table {
  --easy-table-border: 0px;
  --easy-table-row-border: 1px solid hsl(var(--b2));

  --easy-table-header-font-size: 0.75rem;
  --easy-table-header-height: Auto;
  --easy-table-header-font-color: hsl(var(--bc));
  --easy-table-header-background-color:hsl(var(--b2));

  --easy-table-header-item-padding: 0.75rem 1.2rem;

  --easy-table-body-even-row-font-color: hsl(var(--bc));
  --easy-table-body-even-row-background-color:hsl(var(--b2));

  --easy-table-body-row-font-color: hsl(var(--bc));
  --easy-table-body-row-background-color: hsl(var(--b1));
  --easy-table-body-row-height: 50px;
  --easy-table-body-row-font-size: 0.875rem;

  --easy-table-body-row-hover-font-color: hsl(var(--bc));
  --easy-table-body-row-hover-background-color:hsl(var(--b3));

  --easy-table-body-item-padding: 10px 15px;

  --easy-table-footer-background-color: hsl(var(--b1));
  --easy-table-footer-font-color: hsl(var(--bc));
  --easy-table-footer-font-size: 0.75rem;
  --easy-table-footer-padding: 0px 10px;
  --easy-table-footer-height: 50px;

  --easy-table-rows-per-page-selector-width: 70px;
  --easy-table-rows-per-page-selector-option-padding: 5px;

  --easy-table-scrollbar-track-color: hsl(var(--b2));
  --easy-table-scrollbar-color: hsl(var(--b2));
  --easy-table-scrollbar-thumb-color: hsl(var(--b3));
  --easy-table-scrollbar-corner-color: hsl(var(--b2));

  --easy-table-message-font-color: hsl(var(--bc));

  --easy-table-loading-mask-background-color: hsl(var(--b1));
}

.vue3-easy-data-table__main {
  @apply rounded-t-lg;
}
