@page { margin: 0 }
.page { margin: 0 }
.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}

/** Paper sizes **/
.page.A3               .sheet { width: 297mm; min-height: 419mm }
.page.A3.landscape     .sheet { width: 420mm; min-height: 296mm }
.page.A4               .sheet { width: 210mm; min-height: 296mm }
.page.A4.landscape     .sheet { width: 297mm; min-height: 209mm }
.page.A5               .sheet { width: 148mm; min-height: 209mm }
.page.A5.landscape     .sheet { width: 210mm; min-height: 147mm }
.page.letter           .sheet { width: 216mm; min-height: 279mm }
.page.letter.landscape .sheet { width: 280mm; min-height: 215mm }
.page.legal            .sheet { width: 216mm; min-height: 356mm }
.page.legal.landscape  .sheet { width: 357mm; min-height: 215mm }

/** Padding area **/
.sheet.padding-10mm { padding: 10mm }
.sheet.padding-15mm { padding: 15mm }
.sheet.padding-20mm { padding: 20mm }
.sheet.padding-25mm { padding: 25mm }

/** For screen preview **/
@media screen {
  .page { background: hsl(var(--bc))}
  .sheet {
    background: hsl(var(--b2));
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 5mm auto;
  }
}

/** Fix for Chrome issue #273306 **/
@media print {
           .page.A3.landscape { width: 420mm }
  .page.A3, .page.A4.landscape { width: 297mm }
  .page.A4, .page.A5.landscape { width: 210mm }
  .page.A5                    { width: 148mm }
  .page.letter, .page.legal    { width: 216mm }
  .page.letter.landscape      { width: 280mm }
  .page.legal.landscape       { width: 357mm }
}