
  
 // General
$dp__font_family: inherit !default; // Font size for the menu
$dp__border_radius: 4px !default; // Border radius everywhere
$dp__cell_border_radius: $dp__border_radius !default; // Specific border radius for the calendar cell

// Transitions
$dp__transition_length: 22px !default; // Passed to the translateX in animation
$dp__transition_duration: 0.1s !default; // Transition duration

// Sizing
$dp__button_height: 0.8rem !default; // size for buttons in overlays
$dp__month_year_row_height: 2rem !default; // height of the month-year select row
$dp__month_year_row_button_size: 2rem !default; // Specific height for the next/previous buttons
$dp__button_icon_height: 1rem !default; // icon sizing in buttons
$dp__cell_size: 35px !default; // width and height of calendar cell
$dp__cell_padding: 5px !default; // padding in the cell
$dp__common_padding: 10px !default;
$dp__input_padding: 6px 12px !default; // padding in the input
$dp__input_icon_padding: 35px !default; // Padding on the left side of the input if icon is present
$dp__menu_min_width: 260px !default; // Adjust the min width of the menu
$dp__action_buttons_padding: 2px 5px !default; // Adjust padding for the action buttons in action row
$dp__row_margin: 5px 0 !default; // Adjust the spacing between rows in the calendar
$dp__calendar_header_cell_padding: 0.5rem !default; // Adjust padding in calendar header cells
$dp__two_calendars_spacing: 10px !default; // Space between two calendars if using two calendars
$dp__overlay_col_padding: 3px !default; // Padding in the overlay column
$dp__time_inc_dec_button_size: 32px !default; // Sizing for arrow buttons in the time picker

// Font sizes
$dp__font_size: 0.8rem !default; // overall font-size
$dp__preview_font_size: 0.8rem !default; // font size of the date preview in the action row
$dp__time_font_size: 2rem !default; // font size in the time picker

@import '@vuepic/vue-datepicker/src/VueDatePicker/style/main.scss';

 .dp__theme_light {
    --dp-background-color: hsl(var(--b2));
    --dp-text-color: hsl(var(--bc));
    --dp-hover-color: hsl(var(--b2));
    --dp-hover-text-color: hsl(var(--bc));
    --dp-hover-icon-color: hsl(var(--b3));
    --dp-primary-color: hsl(var(--p));
    --dp-primary-text-color: hsl(var(--pc));
    --dp-secondary-color: hsl(var(--s));
    --dp-border-color: hsl(var(--b3));
    --dp-menu-border-color: hsl(var(--b3));
    --dp-border-color-hover: hsl(var(--b3));
    --dp-disabled-color: hsl(var(--b3));
    --dp-scroll-bar-background: hsl(var(--b2));
    --dp-scroll-bar-color: hsl(var(--b3));
    --dp-success-color: hsl(var(--su));
    --dp-success-color-disabled: hsl(var(--suc));
    --dp-icon-color: hsl(var(--bc));
    --dp-danger-color: hsl(var(--er));
    --dp-highlight-color: hsl(var(--pf));
 }

 .dp__input {
   font-family: inherit;
   border: none;
   outline: none;
   font-size: 1rem;
   line-height: 1.5rem;
   height: 3rem;

}